<li class="py-8">
    <img class="rounded-md mb-2 sm:mb-4 max-w-sm" src="https://images.sympla.com.br/630305a3009a1-lg.png"/>
    <dl class="relative flex flex-wrap gap-x-3">
      <dt class="sr-only">Nome do Evento</dt>
      <dd class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
        <a href="#">
          {{ title }}
          <span class="absolute inset-0" aria-hidden="true"></span>
        </a>
      </dd>
      <dt class="sr-only">Descrição</dt>
      <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">{{ description }}</dd>
      <dt class="sr-only">Data do Evento</dt>
      <dd class="mt-4 text-base font-semibold leading-7 text-gray-900">{{ date }}</dd>
      <dt class="sr-only">Local do Evento</dt>
      <dd class="mt-4 flex items-center gap-x-3 text-base leading-7 text-gray-500">
        {{ place }}
      </dd>
    </dl>
  </li>