<header class="bg-white z-50 relative">
  <nav
    class="mx-auto flex flex-col sm:flex-row sm:gap-x-6 gap-8 max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1 justify-center sm:justify-start">
      <a
        [routerLink]="['/eventos']"
        class="-m-1.5 p-1.5 text-center sm:text-left"
      >
        <span class="sr-only">EventosTec</span>
        <h3
          class="text-base font-semibold leading-6 text-kipperdev-purple-dark"
        >
          EventosTec | Eventos de Tecnologia 🇧🇷
        </h3>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end gap-x-6">
      <button
        [routerLink]="['/criar-evento']"
        class="rounded-md bg-kipperdev-purple-primary px-3 py-2 text-sm sm:text-base font-semibold text-white shadow-sm hover:opacity-95 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-kipperdev-purple-primary"
      >
        Adicionar um evento
      </button>
    </div>
  </nav>
</header>
